In [21]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [15]:
#Index lavel
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [16]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [17]:
inside

[1, 2, 3, 1, 2, 3]

In [20]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [22]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  0.547602  1.115269
   2  0.583929 -0.385992
   3 -0.045221  0.692055
G2 1  1.279776 -0.151919
   2  0.861094 -1.790462
   3  0.777187 -1.088985

In [24]:
df.loc['G1'].loc[1]

A    0.547602
B    1.115269
Name: 1, dtype: float64

In [26]:
df.index.names=['Groups','Num']

In [27]:
df

                   A         B
Groups Num
G1     1    0.547602  1.115269
       2    0.583929 -0.385992
       3   -0.045221  0.692055
G2     1    1.279776 -0.151919
       2    0.861094 -1.790462
       3    0.777187 -1.088985

In [30]:
df.loc['G2'].loc[2].loc['B']

-1.790461515070029

In [33]:
df.loc['G1'].loc[1].loc['B']

1.1152694494335291

In [35]:
df.loc['G1']

            A         B
Num
1    0.547602  1.115269
2    0.583929 -0.385992
3   -0.045221  0.692055

In [36]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.547602  1.115269
G2      1.279776 -0.151919